NEXT_PUBLIC_API_URL=http://localhost:5000/api
SUPABASE_URL=https://your-project-ref.supabase.co
DATABASE_URL="postgresql://postgres.bnibepmmlsvxujikfbaj:YOUR_SUPABASE_DATABASE_PASSWORD@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require&connection_limit=1"
NEXT_PUBLIC_SUPABASE_URL=https://bnibepmmlsvxujikfbaj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=replace-with-your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=replace-with-your-supabase-service-role-key
SUPABASE_STORAGE_BUCKET=mystery-bucket
ADMIN_PANEL_ACCESS_KEY=f7d9a2e4b1c83d6e5a0f2b9c7d4e1a8f6b3c0d9e7a4b1c2d5e8f0a3b6c9d2e1
ADMIN_PANEL_ROUTE_SECRET=vX9_zP2-qR4/mK8_tL5-nY1/jB7_hG3-aW2/tN6_pQ9-zR5

# Adsterra configuration
NEXT_PUBLIC_ADSTERRA_VERIFICATION_CODE=0BWqbyw168nW
NEXT_PUBLIC_ADSTERRA_BANNER_468X60_KEY=
NEXT_PUBLIC_ADSTERRA_BANNER_160X300_KEY=
NEXT_PUBLIC_ADSTERRA_BANNER_320X50_KEY=
NEXT_PUBLIC_ADSTERRA_BANNER_160X600_KEY=
NEXT_PUBLIC_ADSTERRA_BANNER_300X250_KEY=
NEXT_PUBLIC_ADSTERRA_NATIVE_BANNER_SCRIPT_URL=
NEXT_PUBLIC_ADSTERRA_SMARTLINK_URLS=
NEXT_PUBLIC_ADSTERRA_POPUNDER_SCRIPT_URL=
NEXT_PUBLIC_ADSTERRA_POPUNDER_SNIPPET=
NEXT_PUBLIC_ADSTERRA_SOCIAL_BAR_SCRIPT_URL=
NEXT_PUBLIC_ADSTERRA_SOCIAL_BAR_SNIPPET=
NEXT_PUBLIC_ADSTERRA_WAIT_SECONDS=6
